@inherits LayoutComponentBase
@inject IStringLocalizer<SharedResource> Localizer

<div class="page">
    <NavMenu />

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    @Localizer["ErrorMessage"]
    <a href="." class="reload">@Localizer["Reload"]</a>
    <span class="dismiss">x</span>
</div>
