@page "/kontakt"
@inject IStringLocalizer<SharedResource> Localizer

<PageTitle>Kontakt</PageTitle>

<div class="legal-page">
    <h1>Kontakt</h1>

    <section class="legal-section">
        <address>
            Berufskolleg Beckum des Kreises Warendorf<br />
            Hansaring 11<br />
            59269 Beckum
        </address>
        <p>
            Telefon: +49 2521 912-0<br />
            Telefax: +49 2521 912-131<br />
            E-Mail: <a href="mailto:verwaltung@bkbeckum.de">verwaltung@bkbeckum.de</a>
        </p>
    </section>

    <div class="legal-footer-links">
        <a href="/impressum">Impressum</a>
        <a href="/datenschutz">Datenschutz</a>
    </div>
</div>
