@page "/not-found"
@layout MainLayout
@inject IStringLocalizer<SharedResource> Localizer

<PageTitle>@Localizer["NotFoundTitle"]</PageTitle>

<h1>@Localizer["NotFoundTitle"]</h1>
<p>@Localizer["NotFoundMessage"]</p>
