@page "/weekly-reports"
@attribute [Authorize(Policy = "ConfirmedEmail")]
@inject IStringLocalizer<SharedResource> Localizer

<PageTitle>@Localizer["WeeklyOverviewPageTitle"]</PageTitle>

<div class="weekly-overview-page-loading">@Localizer["WeeklyOverviewLoading"]</div>
